<section class="py-5 bg-light">
    <div class="container">

        <div class="row">
            <aside class="col-12 col-md-3" style="max-width: 20%;">
                <app-sidebar-filters (filters)="setFilters($event)"></app-sidebar-filters>
            </aside>

            <main class="col-lg-9" style="flex-grow: 1">

                <header class="d-sm-flex justify-content-between align-items-center pb-4">

                    <app-pagination-header *ngIf="pagination" [currentPage]="pagination.currentPage" [pageSize]="pagination.pageSize" [totalCount]="pagination.totalCount">
                    </app-pagination-header>

                    <div class="ms-auto">
                        <select class="form-select form-select-sm d-inline-block w-auto" (change)="sortProducts($event.target.value)">
                            <option *ngFor="let option of sortOptions" value="{{option.value}}">{{option.displayName}}
                            </option>
                        </select>
                    </div>
                </header>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <div *ngFor="let item of products" class="col">
                        <app-product-item [product]="item"></app-product-item>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-items-center mt-4 ">
                    <app-pagination-footer *ngIf="pagination" [pagination]="pagination" (pageChanged)="onPageChanged($event)"></app-pagination-footer>
                </div>
            </main>
        </div>
    </div>
</section>



<!-- <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon> -->
<!-- <fa-icon [icon]="['fas', 'arrow-rotate-left']"></fa-icon> -->