<section class="py-5 bg-light">
    <div class="container">

        <div class="row">
            <aside class="col-lg-3">
                <app-sidebar-filters></app-sidebar-filters>
            </aside>

            <main class="col-lg-9">

                <header class="d-sm-flex justify-content-between align-items-center pb-4">
                    <span>Showing <strong>{{pagination?.pageSize}}</strong> of <strong>{{pagination?.totalCount}}</strong>
                        Results</span>
                    <div>
                        <div class="d-flex justify-content-center align-items-center">
                            <input class="form-control form-control-sm" placeholder="search">
                            <fa-icon class="btn btn-outline-primary btn-sm mx-1" [icon]="['fas', 'magnifying-glass']"></fa-icon>
                            <fa-icon class="btn btn-outline-primary btn-sm" [icon]="['fas', 'arrow-rotate-left']"></fa-icon>
                        </div>
                    </div>
                    <!-- <div class="ms-auto">
                        <select class="form-select d-inline-block w-auto">
                            <option value="0">Best match</option>
                            <option value="1">Recommended</option>
                            <option value="2">High rated</option>
                            <option value="3">Randomly</option>
                        </select>
                    </div> -->
                </header>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div *ngFor="let item of products" class="col">
                        <app-product-item [product]="item"></app-product-item>
                    </div>
                </div>

                <div class="d-flex justify-content-end align-items-center mt-4 ">
                    <ngb-pagination *ngIf="pagination" [collectionSize]="pagination.totalCount" [(page)]="pagination.currentPage" [maxSize]="3" [pageSize]="pagination.pageSize" (pageChange)="pageChanged(pagination.currentPage)" [ellipses]="true" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>

            </main>
        </div>
    </div>
</section>