<section class="py-5 bg-light">
    <div class="container">

        <div class="row">
            <aside class="col-lg-3">
                <app-sidebar-filters></app-sidebar-filters>
            </aside>

            <main class="col-lg-9">

                <header class="d-sm-flex align-items-center border-bottom pb-4">
                    <span>Showing <strong>{{pagination.pageSize}}</strong> of <strong>{{pagination.totalCount}}</strong>
                        Results</span>
                    <div class="ms-auto">
                        <select class="form-select d-inline-block w-auto">
                            <option value="0">Best match</option>
                            <option value="1">Recommended</option>
                            <option value="2">High rated</option>
                            <option value="3">Randomly</option>
                        </select>
                    </div>
                </header>

                <!-- ========= content items ========= -->
                <div class="row">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div *ngFor="let item of products" class="col">
                            <app-product-item [product]="item"></app-product-item>
                        </div>
                    </div>
                </div>

                <!-- <hr> -->

                <!-- <footer class="d-flex mt-4">
                    <div>
                        <a href="javascript: history.back()" class="btn btn-light"> « Go back</a>
                    </div>
                    <nav class="ms-3">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </footer> -->

            </main>
        </div>
    </div>
</section>