<div class="container p-5 mt-5 ">
    <h3 class="mb-5 pb-3 text-secondary text-center">Testing Error</h3>
    <div class=" d-flex justify-content-center">
        <div class="d-flex justify-content-around col-10">
            <button class="btn btn-warning" (click)="get400Error()">400 Bad Request</button>
            <button class="btn btn-warning" (click)="get400ValidationError()">400 Validation</button>
            <button class="btn btn-warning" (click)="get404Error()">404 Not Found</button>
            <button class="btn btn-warning" (click)="get404NotFoundEndPointError()">404 End Point</button>
            <button class="btn btn-warning" (click)="get500Error()">500 Internal</button>
        </div>
    </div>
</div>