<section class="h-100 h-custom" style="background-color: rgb(247, 247, 247);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body p-0">

                        <div class="row m-0 shadow">

                            <div *ngIf="(cart$ | async) as cart" class="col-lg-8 p-5">


                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="fw-bold mb-0 text-muted">Shopping Cart</h3>
                                    <h6 class="mb-0 text-muted">{{cart.items.length}} items</h6>
                                </div>
                                <hr class="my-4">
                                <div *ngFor="let item of cart.items" class="card mb-3 border-0">
                                    <div class="card-body shadow rounded">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img [routerLink]="['/products', item.id]" src="{{item.imageUrl}}" class="img-fluid curser-pointer rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h6 [routerLink]="['/products', item.id]" class="curser-pointer hide-overflow">{{item.productName}}</h6>
                                                    <p class="small mb-0">{{item.category}}, {{item.brand}}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="me-5">
                                                    <div class="num-block skin-2">
                                                        <div class="num-in">
                                                            <span (click)="decrementQuantity(item.id)" class="minus control-hover"></span>
                                                            <input type="text" class="in-num remove-border" value="{{item.quantity}}" readonly>
                                                            <span (click)="incrementQuantity(item.id)" class="plus control-hover"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="me-5" style="width: 100px;">
                                                    <h6 class="mb-0">{{item.price | currency:'EGP ':'symbol':'1.0-2'}}</h6>
                                                </div>
                                                <fa-icon (click)="removeItem(item.id)" class="text-danger me-2 curser-pointer" [icon]="['fas', 'trash-can']"></fa-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div *ngIf="(cartSummary$ | async) as cartSummary" class="p-5">
                                    <h3 class="fw-bold text-muted">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-muted">SubTotal</h5>
                                        <h5>{{cartSummary.subTotal | currency:'EGP ':'symbol':'1.0-2'}}</h5>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-muted">Shipping</h5>
                                        <h5>{{cartSummary.shipping | currency:'EGP ':'symbol':'1.0-2'}}</h5>
                                    </div>

                                    <hr class="my-4">

                                    <h6 class="text-uppercase mb-3">Discount code</h6>
                                    <input type="text" id="form3Examplea2" class="form-control form-control" />


                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>{{cartSummary.total | currency:'EGP ':'symbol':'1.0-2'}}</h5>
                                    </div>

                                    <button routerLink="/checkout"  type="button" class="btn btn-dark btn-block col-12 shadow-sm" data-mdb-ripple-color="dark">Proceed to Checkout</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>