<div class="container py-5" *ngIf="product">
    <div class="row">
        <aside class="col-lg-6">
            <div>
                <img src="{{product.imageUrl}}" class="col-12 image-fluid p-3 card-image-style border rounded-2">
            </div>
        </aside>
        <div class="col-lg-6">
            <article class="ps-lg-3">
                <h4 class="title text-dark">{{product.name}}</h4>
                <hr>
                <div class="mb-2">
                    <p>{{product.description}}</p>
                </div>
                <dl class="row mb-4">
                    <dt class="col-3">Brand</dt>
                    <dd class="col-9">{{product.brand}}</dd>
                    <dt class="col-3">Category</dt>
                    <dd class="col-9">{{product.category}}</dd>
                </dl>
                <hr>
                <div class="mb-4 h5">{{product.price | currency:'EGP ': 'symbol':'1.0-2'}}</div>
                <div class="row gx-2 mb-4">
                    <div class="col-2"> <select class="form-select">
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                        </select> </div>
                    <div class="col-auto">
                        <fa-icon class="btn btn-primary" [icon]="['fas', 'cart-shopping']"></fa-icon>
                    </div>
                </div>
                <div>
                    <button class="btn btn-secondary px-4" (click)="onGoBack()">GO Back</button>
                </div>
            </article>
        </div>
    </div>
</div>