<div class="container mt-3">
    <div class="row p-5 ">
        <aside class="col-lg-6">
            <div>
                <img src="https://localhost:40404/images/products/laptop/LenovoideapadL3laptop.jpg" class="col-12 image-fluid p-3 card-image-style border rounded-2">
            </div>
        </aside>
        <div class="col-lg-6">
            <article class="ps-lg-3">
                <h4 class="title text-dark">Mens Long Sleeve T-shirt Cotton Base <br> Layer Slim Muscle</h4>
                <hr>
                <ul class="list-check cols-two mb-4">
                    <li>Optical heart sensor </li>
                    <li>Some feature name </li>
                    <li>Super fast and amazing </li>
                    <li>Optical heart sensor </li>
                    <li>Easy fast and ver good </li>
                    <li>Metallic corpus </li>
                    <li>Modern style and design</li>
                </ul>
                <div class="mb-4 h5">$98.00</div>
                <div class="row gx-2 mb-4">
                    <div class="col-2"> <select class="form-select">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
              </select> </div>
                    <div class="col-auto">
                        <a href="#" class="btn btn-primary w-100"> <i class="me-2 fa fa-shopping-basket"></i> Add to cart </a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-light btn-icon"> <i class="fas fa-heart"></i> </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>