.house {
    color: white;
}

.nav-option {
    font-size: 16px;
}

.custom-column {
    min-width: 190px;
}

@media all and (min-width: 991px) {
    .custom-column {
        max-width: 20%;
    }
}

.cart-no {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 0.8em;
    background: orange;
    color: white;
    text-align: center;
    top: -7px;
    left: 15px;
}