<div class="px-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-white text-decoration-none">
                <p class="my-2" style="font-size: 20px;">GoodsGator</p>
            </a>
            <ul class="nav col-12 col-md-auto justify-content-center my-md-0 text-small">
                <li>
                    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
                        <i style="font-size: 20px;" class="bi bi-house-door d-block mx-auto">
                        </i>
                        <p style="font-size: 14px;">Home</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
                        <i style="font-size: 20px;" class="bi bi-speedometer2 d-block mx-auto"></i>
                        <p style="font-size: 14px;">Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
                        <i style="font-size: 20px;" class="bi bi-cart3 d-block mx-auto"></i>
                        <p style="font-size: 14px;">Orders</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
                        <i style="font-size: 20px;" class="bi bi-grid d-block mx-auto"></i>
                        <p style="font-size: 14px;">Products</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
                        <i style="font-size: 20px;" class="bi bi-person-circle d-block mx-auto"></i>
                        <p style="font-size: 14px;">Customers</p>
                    </a>
                </li>
            </ul>

            <div class="col-md-3 text-end my-2">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-light">Sign-up</button>
            </div>

        </div>
    </div>
</div>