<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container d-flex py-2">
        <div class="custom-column col-md-3">
            <a routerLink="/" class="d-flex align-items-center">
                <img src="/assets/images/site/GoodsGatorLogoImg.png" alt="GoodsGatorImg" width="30" class="me-1">
                <img src="/assets/images/site/GoodsGatorLogoText.png" alt="GoodsGatorLogo" width="150" class="mt-1">
            </a>
        </div>
        <div class="col-12 col-md-6 my-2 my-lg-0 me-1" style="flex-grow: 1;">
            <div class="input-group me-2">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-light" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="ms-auto navbar-nav mb-2 mb-lg-0">
                <li>
                    <a routerLink="/products" class="nav-link nav-option text-uppercase text-white text-center py-0 my-0">
                        <i class="bi bi-grid-fill"></i> Shop
                    </a>
                </li>
                <li>
                    <a routerLink="/cart" class="nav-link nav-option text-uppercase text-white position-relative text-center py-0 my-0 mx-2">
                        <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon> Orders
                        <div *ngIf="(cart$ | async) as cart" class="cart-no">{{cart.items.length}}</div>
                    </a>
                </li>
                <li>
                    <a routerLink="account/login" class="nav-link nav-option text-uppercase text-white text-center py-0 my-0">
                        <i class="bi bi-person-circle"></i> Sign in
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- <li>
    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
        <i style="font-size: 20px;" class="bi bi-house-door d-block mx-auto">
        </i>
        <p style="font-size: 14px;">Home</p>
    </a>
</li>
<li>
    <a href="#" class="nav-link text-white text-center pb-0 mb-0">
        <i style="font-size: 20px;" class="bi bi-speedometer2 d-block mx-auto"></i>
        <p style="font-size: 14px;">Dashboard</p>
    </a>
</li> -->