<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-6 fw-bold">Welcome..</h1>
            <p class="col-md-8 fs-4">GoodsGator is your number #1 choice to purchase your favorite products, it's easy to use and buy goods online in the easiest way possible. check out our new collection and make sure to leave us a feedback.
            </p>
            <div class="pb-3">
                <fa-icon class="star" [icon]="['fas', 'star']"></fa-icon>
                <fa-icon class="star" [icon]="['fas', 'star']"></fa-icon>
                <fa-icon class="star" [icon]="['fas', 'star']"></fa-icon>
                <fa-icon class="star" [icon]="['fas', 'star']"></fa-icon>
                <fa-icon class="star" [icon]="['far', 'star']"></fa-icon>
            </div>
            <button routerLink="/products" class="btn btn-primary px-5" type="button">Shop Now</button>
        </div>
    </div>
</div>