<div id="aside_filter" class="collapse card d-lg-block mb-5">

    <article class="filter-group">
        <header class="card-header">
            <a href="#" class="text-dark text text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target="#collapse_aside1" aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i> Categories
            </a>
        </header>
        <div class="collapse show " id="collapse_aside1">
            <div class="card-body">
                <ul class="list-unstyled mb-0">
                    <li *ngFor="let category of categories" class="list-group-item py-1">
                        <a class="list-group-item-action text-decoration-none filter-text link-label" href="#">{{category.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </article>

    <article class="filter-group">
        <header class="card-header">
            <a href="#" class="text-dark text text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
                <i class="icon-control fa fa-chevron-down"></i> Brands
            </a>
        </header>
        <div class="collapse show" id="collapse_aside_brands">
            <div class="card-body">

                <label *ngFor="let brand of brands" class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label link-label"> {{brand.name}} </span>
                    <b class="badge rounded-pill bg-gray-dark float-end">120</b>
                </label>
            </div>
        </div>
    </article>

    <article class="filter-group">
        <header class="card-header">
            <a href="#" class="text-dark text text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
                <i class="icon-control fa fa-chevron-down"></i> Price
            </a>
        </header>
        <div class="collapse show" id="collapse_aside2">
            <div class="card-body">
                <input type="range" class="form-range" min="0" max="100">
                <div class="row mb-2">
                    <div class="col-6">
                        <label for="min" class="form-label">Min</label>
                        <input class="form-control form-control-sm" id="min" placeholder="$0" type="number">
                    </div>

                    <div class="col-6">
                        <label for="max" class="form-label">Max</label>
                        <input class="form-control form-control-sm" id="max" placeholder="$1,0000" type="number">
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="filter-group">
        <header class="card-header">
            <a href="#" class="text-dark text text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
                <i class="icon-control fa fa-chevron-down"></i> Search
            </a>
        </header>
        <div class="collapse show" id="collapse_aside3">
            <div class="card-body">
                <input type="search" class="form-control form-control-sm my-2" placeholder="Search..." aria-label="Search">
            </div>
        </div>
        <header class="card-header">
            <button class="btn btn-primary btn-sm w-100 my-2" type="button">Apply</button>
        </header>
    </article>
</div>