<section class="h-100 h-custom" style="background-color: rgb(247, 247, 247);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card border-0">
          <div class="card-body p-0">

            <div class="row m-0 shadow">

              <div class="col-lg-8 p-5">


                <div class="d-flex justify-content-between align-items-center mb-4">
                  <h3 class="fw-bold mb-0 text-muted">Shopping Cart</h3>
                  <h6 class="mb-0 text-muted">3 items</h6>
                </div>
                <hr>

                <div class="card mb-3 border-0">
                  <div class="card-body shadow rounded">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Iphone 11 pro</h5>
                          <p class="small mb-0">256GB, Navy Blue</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 100px;">
                          <div class="input-group mb-3">
                            <button type="button" class="btn btn-sm btn-primary">+</button>
                            <input type="number" class="form-control form-control-sm">
                            <button type="button" class="btn btn-sm btn-danger">-</button>
                          </div>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$900</h5>
                        </div>
                        <fa-icon class="text-danger me-2" [icon]="['fas', 'trash-can']"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 border-0">
                  <div class="card-body shadow rounded">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Samsung galaxy Note 10 </h5>
                          <p class="small mb-0">256GB, Navy Blue</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">2</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$900</h5>
                        </div>
                        <fa-icon class="text-danger me-2" [icon]="['fas', 'trash-can']"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 border-0">
                  <div class="card-body shadow rounded">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Canon EOS M50</h5>
                          <p class="small mb-0">Onyx Black</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">1</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$1199</h5>
                        </div>
                        <fa-icon class="text-danger me-2" [icon]="['fas', 'trash-can']"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 border-0">
                  <div class="card-body shadow rounded">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>MacBook Pro</h5>
                          <p class="small mb-0">1TB, Graphite</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">1</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$1799</h5>
                        </div>
                        <fa-icon class="text-danger me-2" [icon]="['fas', 'trash-can']"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold text-muted mb-4">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-muted">Items 3</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-muted">Shipping</h5>
                    <h5>€ 20.00</h5>
                  </div>

                  <hr class="my-4">

                  <h6 class="text-uppercase mb-3">Discount code</h6>
                  <input type="text" id="form3Examplea2" class="form-control form-control" />


                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>€ 137.00</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block col-12 shadow-sm"
                    data-mdb-ripple-color="dark">Register</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

