<section class="d-flex h-100 justify-content-center align-items-center" style="min-height: calc(100vh - 62px)">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row col-8 m-5 no-gutters shadow-lg">
            <div class="col-md-6 bg-white p-5">
                <h3 class="mb-4 lightblue-text">Register</h3>
                <div class="form-style">
                    <form>
                        <div class="form-group pb-3">
                            <input type="email" placeholder="Email" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group pb-3">
                            <input type="password" placeholder="Password" class="form-control"
                                id="exampleInputPassword1">
                        </div>

                        <div class="form-group pb-3">
                            <input type="password" placeholder="Confirm Password" class="form-control"
                                id="exampleInputPassword1">
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary w-100 gradient-button rounded-2 py-2 font-weight-bold mt-2">Sign Up</button>
                        </div>
                    </form>
                    <div class="mt-4 text-center">Already a member?
                        <a class="text-decoration-none" routerLink="../login">Sign in</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-none d-md-block p-0">
                <img src="/assets/images/site/loginpic.jpg" class="img-fluid h-100"/>
            </div>
        </div>
    </div>
</section>