<div class="card h-100 shadow-sm">
    <img src="{{product.imageUrl}}" [routerLink]="['/products', product.id]" alt="{{product.name}}" class="image-fluid p-3 card-image-style border-bottom curser-pointer">

    <div class="card-body d-flex justify-content-between align-items-start">
        <div>
            <p class="title mb-1" [routerLink]="['/products', product.id]"> {{product.name}}</p>
            <p class="price-text mb-0">{{product.price | currency:'EGP ':'symbol':'1.0-2'}}</p>
        </div>
        <fa-icon class="btn btn-outline-primary btn-sm" [icon]="['fas', 'cart-shopping']"></fa-icon>
    </div>
</div>